{{> header}}

    <main>
      <div class="hero">
        {{!--<canvas id="canvas" width="640" height="480">
          Your browser doesn't appear to support the
          <code>&lt;canvas&gt;</code> element.
        </canvas>--}}
        <div id="canvasCtn"></div>
      </div>
    </main>

{{> footer}}
