/* STYLE.CSS */
// ==========================================================================
// Base
// ==========================================================================
@import "./base/index";

// ==========================================================================
// Helpers
// ==========================================================================
@import "./helpers/index";

// ==========================================================================
// Vendors
// ==========================================================================
@import "./vendors/index";

// ==========================================================================
// Components
// ==========================================================================
@import "./components/index";

// ==========================================================================
// Layout
// ==========================================================================
@import "./layout/index";

// ==========================================================================
// Pages
// ==========================================================================
@import "./pages/index";

#canvasCtn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
